# dependencies
/node_modules
/.pnp
.pnp.*

# Next.js
/.next/
/out/

# production
/build

# environment files
.env*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# TypeScript
*.tsbuildinfo
next-env.d.ts
